* {
    box-sizing: border-box;
    font-weight: 600;
    transition: all 0.3s;
}
:root {
    --accent: #cc7f4c;
}

html {
    scroll-behavior: smooth;
  }
/* width */
::-webkit-scrollbar {
width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
background-color: rgb(255, 255, 255);
}
   
/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(0, 0, 0);
} 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

nav{
    position: sticky;
    top: 0;
    z-index: 1;
}

a, button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.3rem;
}

a:hover{
    color: var(--accent);

}

.primary-button {
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    text-align: center;
    display: grid;
    place-items: center;
}

.secondary-button {
    background-color: white;
    color: black;
    font-weight: 600;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    border: 1px solid #d1d1d1;
    text-align: center;
    display: grid;
    place-items: center;
}

.colored-button{
    background-color: var(--accent);
}

.primary-button:hover,
.secondary-button:hover {
    transform: scale(1.04);
}

.drop-down-container{
    position: relative;
}
.drop-down-container:hover > .drop-down{
    opacity: 1;
    pointer-events: unset;
}
.drop-down{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #f7f5ee;
    padding: 0.5rem;
    border-radius: 0.4rem;
    box-shadow: 0 2px 5px 2px #00000025;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 150px;
    transition: all 0.3s;
}

.burger-menu{
    display: none;
}

.menu {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    transition: all 0.4s;
}

@media (max-width: 900px){
    .burger-menu{
        display: unset;
    }
    .menu {
        position: absolute;
        left: 0;
        top: 4rem;
        gap: 2rem;
        width: 100vw;
        flex-direction: column;
        background-color: white;
        padding: 1rem;
        z-index: 10;
        transform: translateY(-120%);
    }
    .menu > ul {
        width: 100%;
    }
    .menu > ul,
    .menu > div {
        flex-direction: column;
    }
    .open{
        transform: translateY(0);
    }
}

.main-content{
    height: calc(100vh - 4rem);
    background-image: url(/img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 42px;
    font-weight: 600;
    gap: 1rem;
}

.tag-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    gap:1rem;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#changing-text {
    color: var(--accent);
}

/* Checkpoint 2 */

.form-section {
    width: 100%;
    min-height: calc(100vh - 4rem);
    display: flex;
    flex-direction: row;
}

.form-image {
    background-color: black;
    width: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.image {
    object-fit: cover;
}

.form-container{
    display: grid;
    place-items: center;
    width: 50%;
    background-color: black;
}

.booking-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: end;
    justify-content: end;
    row-gap: 4rem;
    column-gap: 1rem ;
    padding: 4rem;
    width: 100%;
}

.booking-form > div > h2 {
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    color: var(--accent);
}

.booking-form > div > p {
    width: 100%;
    color: rgb(230, 230, 230);
}

.input-style{
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: 50px;
}

.textarea{
    border-radius: 30px;
    min-height: 100px;
}

.label-container{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 14px;
    color: white;
}

.form-destination{
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: 50px;
}
.destination-container,
.guests-container,
.checkin-container,
.checkout-container{
    width: calc(50% - 0.5rem);
}

.description-container{
    width: 100%;
}

#packages-container{
    padding: 60px;
}

.package-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(33.33% - 20px);
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 10px 2px #0000001b;
    overflow: hidden;
}

.package-image{
    aspect-ratio: 2/1;
    object-fit: cover;
}

.package-content-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

.package-attractions > div {
    font-weight: 700;
}

.package-star-container{
    display: flex;
    flex-direction: row;
}

.package-location,
.package-price{
    font-size: 25px;
    font-weight: 700;
}

.services-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 60px;
    gap: 2rem;
}

.service-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px soild var(--accent);
}

/* checkpoint 3 */

.gallery-container{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 60px;
    overflow: hidden;
}

.gallery-row-1,
.gallery-row-2,
.gallery-row-3{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}

.gallery-row-1{
    transform: translateX(-500px);
}

.gallery-row-2{
    transform: translateX(-220px);
}

.gallery-row-3{
    transform: translateX(-500px);
}

.gallery-image{
    height: 300px;
    aspect-ratio: 2/1 !important;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
    transition: all 0.3s;
}


.gallery-image:hover{
    transform: scale(1.03);
}

.about-section {
    width: 100%;
    min-height: calc(100vh - 4rem);
    display: flex;
    flex-direction: row;
}

.about-image-container {
    background-color: black;
    width: 50%;
    max-height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.about-image {
    object-fit: cover;
    object-position: left bottom;
}

.about-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 60px;
    gap: 1rem;
    background-color: black;
    color: white;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    padding: 60px;
    row-gap: 4rem;
}

.footer-section{
    width: 33.33%;
}

.footer-title{
    font-size: 1.5rem;
}

.footer-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.modal-cover{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #00000027;
    display: grid;
    place-items: center;
    transition: all 0.3s;
    opacity: 0;
    pointer-events: none;
}

.modal-open{
    opacity: 1;
    pointer-events: unset;
}

.modal{
    background-color: #ffffff;
    width: 600px;
    max-width: calc(100vw - 2rem);
    border-radius: 1rem;
    box-shadow: 0 5px 10px 4px #0000000f;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.modal-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
    width: 100%;
}

.modal-form > div > h2 {
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    color: var(--accent);
}

.modal-label-container{
    width: 100%;
}

.information{
    width: 48%;
}

.modal-label-container > label {
    color: #000000;
}


.modal-label-container > input,
.modal-label-container > select {
    border: 1px solid #000000;
}

.modal-button{
    width: 100%;
}

@media (max-width: 900px){
    .information{
        width: 100%;
    }

    .form-section {
        flex-direction: column-reverse;
    }

    .form-image,
    .form-container{
        width: 100%;
    }

    .booking-form{
        padding: 4rem 2rem;
    }

    .package-card{
        width: 100%;
    }

    #packages-container{
        padding: 16px;
    }
    
    .package-image{
        aspect-ratio: 1.5/1;
    }

    .services-container{
        flex-direction: column;
    }
    
    .gallery-image{
        height: 100px;
    }

    .about-section {
        flex-direction:column-reverse;
    }

    .about-image-container,
    .about-container{
        width: 100%;
    }

    .about-container{
        padding: 2rem;
    }

    .footer-section{
        width: 100%;
    }
}